# Ejercicios de Pandas - Nivel Inicial

## Ejercicio 1: Creación y manipulación de Series
1. Crea una Serie a partir del diccionario {'Matemáticas': 9, 'Historia': 7.5, 'Física': 8.2}
2. Accede a la nota de 'Historia' usando la notación de corchetes
3. Crea otra Serie con las mismas materias pero diferentes notas y suma ambas Series

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#1. Crea una Serie a partir del diccionario {'Matemáticas': 9, 'Historia': 7.5, 'Física': 8.2}
notas_1 = pd.Series({'Matemáticas': 9, 'Historia': 7.5, 'Física': 8.2})

In [3]:
print("Serie 1:\n", notas_1)

Serie 1:
 Matemáticas    9.0
Historia       7.5
Física         8.2
dtype: float64

In [ ]:
#2. Accede a la nota de 'Historia' usando la notación de corchetes
nota_historia = notas_1['Historia']

In [5]:
print("\nNota de Historia:", nota_historia)

Nota de Historia: 7.5

In [7]:
#3. Crea otra Serie con las mismas materias pero diferentes notas y suma ambas Series
notas_2 = pd.Series({'Matemáticas': 8, 'Historia': 6.2, 'Física': 7.3})

In [8]:
print("Serie 2:\n", notas_1)

Serie 2:
 Matemáticas    9.0
Historia       7.5
Física         8.2
dtype: float64

In [11]:
suma_notas = notas_1 + notas_2

In [13]:
print("Serie notas1:\n", notas_1) 
print()
print("Serie notas2:\n", notas_2)
print()
print("Suma notas:\n", suma_notas)

Serie notas1:
 Matemáticas    9.0
Historia       7.5
Física         8.2
dtype: float64

Serie notas2:
 Matemáticas    8.0
Historia       6.2
Física         7.3
dtype: float64

Suma notas:
 Matemáticas    17.0
Historia       13.7
Física         15.5
dtype: float64

## Ejercicio 2: Operaciones básicas con DataFrames
Dado el siguiente DataFrame:

In [14]:
df = pd.DataFrame({
    'Producto': ['Manzana', 'Pera', 'Plátano'],
    'Precio': [1.2, 1.5, 0.8],
    'Stock': [45, 32, 67]
})

In [15]:
df

  Producto  Precio  Stock
0  Manzana     1.2     45
1     Pera     1.5     32
2  Plátano     0.8     67


1. Muestra solo la columna 'Precio'
2. Filtra los productos con precio mayor a 1.0
3. Añade una nueva columna 'Valor_total' que sea Precio * Stock

In [24]:
#1. Muestra solo la columna 'Precio'
df['Precio']

0    1.2
1    1.5
2    0.8
Name: Precio, dtype: float64

In [25]:
#2. Filtra los productos con precio mayor a 1.0
df[df['Precio'] > 1.0]

  Producto  Precio  Stock
0  Manzana     1.2     45
1     Pera     1.5     32

In [26]:
#3. Añade una nueva columna 'Valor_total' que sea Precio * Stock
df['Valor_total'] = df['Precio'] * df['Stock']

In [27]:
df

  Producto  Precio  Stock  Valor_total
0  Manzana     1.2     45         54.0
1     Pera     1.5     32         48.0
2  Plátano     0.8     67         53.6

## Ejercicio 3: Selección de datos
Usando el DataFrame del ejercicio 2:
1. Selecciona la fila del 'Plátano' usando loc
2. Selecciona el precio de la 'Pera' usando iloc
3. Muestra solo las columnas 'Producto' y 'Stock' para todos los productos

In [33]:
#1. Selecciona la fila del 'Plátano' usando loc

fila_platano = df.loc[df['Producto'] == 'Plátano']
print("\nFila del Plátano:\n", fila_platano)

Fila del Plátano:
   Producto  Precio  Stock  Valor_total
2  Plátano     0.8     67         53.6

In [34]:
# 2. Selecciona el precio de la 'Pera' usando iloc
fila_pera_precio = df.iloc[1]['Precio']
print("\nPrecio de la Pera:", fila_pera_precio)

Precio de la Pera: 1.5

In [35]:
#3. Muestra solo las columnas 'Producto' y 'Stock' para todos los productos
productos_stock = df[['Producto', 'Stock']]
print("\nProductos y Stock:\n", productos_stock)

Productos y Stock:
   Producto  Stock
0  Manzana     45
1     Pera     32
2  Plátano     67

## Ejercicio 4: Valores faltantes
Dado este DataFrame:

In [37]:
df=pd.DataFrame({
'A':[1,np.nan,3,4],
'B':[5,6,np.nan,8],
'C':[9,10,11,12]
})

In [38]:
df

     A    B   C
0  1.0  5.0   9
1  NaN  6.0  10
2  3.0  NaN  11
3  4.0  8.0  12

1. Elimina las filas que contengan algún NaN
2. Rellena los NaN de la columna 'A' con su valor medio
3. Rellena los NaN de la columna 'B' con el valor máximo de esa columna

In [39]:
#1. Elimina las filas que contengan algún NaN
df_sin_nan = df.dropna()
print("\nDataFrame sin NaN:\n", df_sin_nan)

DataFrame sin NaN:
      A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [42]:
#2. Rellena los NaN de la columna 'A' con su valor medio

#calcular la media de la columna 'A'
media_A = df['A'].mean()
print("\nMedia de la columna 'A':", media_A)

Media de la columna 'A': 2.6666666666666665

In [43]:
#3. Rellena los NaN de la columna 'A' con su valor medio
df['A'] = df['A'].fillna(media_A)
print("\nColumna 'A' con NaN rellenados con la media:\n", df['A'])

Columna 'A' con NaN rellenados con la media:
 0    1.000000
1    2.666667
2    3.000000
3    4.000000
Name: A, dtype: float64

In [44]:
#3. Rellena los NaN de la columna 'B' con el valor máximo de esa columna
max_B = df['B'].max()
print("\nValor máximo de la columna 'B':", max_B)

Valor máximo de la columna 'B': 8.0

In [45]:
df['B'] = df['B'].fillna(max_B)
print("\nColumna 'B' con NaN rellenados con el máximo:\n", df['B'])

Columna 'B' con NaN rellenados con el máximo:
 0    5.0
1    6.0
2    8.0
3    8.0
Name: B, dtype: float64

In [47]:
df

          A    B   C
0  1.000000  5.0   9
1  2.666667  6.0  10
2  3.000000  8.0  11
3  4.000000  8.0  12

## Ejercicio 5: Índices
1. Crea un DataFrame con datos aleatorios (3x3) y los índices ['X', 'Y', 'Z']
2. Resetea el índice y muestra el resultado
3. Vuelve a establecer la columna de índice como índice principal

In [48]:
#1. Crea un DataFrame con datos aleatorios (3x3) y los índices ['X', 'Y', 'Z']
datos_aleatorios = np.random.rand(3, 3)
df_aleatorio = pd.DataFrame(datos_aleatorios, index=['X', 'Y', 'Z'], columns=['A', 'B', 'C'])
print("\nDataFrame aleatorio:\n", df_aleatorio)

DataFrame aleatorio:
           A         B         C
X  0.367406  0.055261  0.304115
Y  0.047365  0.932662  0.641097
Z  0.856042  0.342571  0.611421

In [49]:
#2. Resetea el índice y muestra el resultado
df_aleatorio_reset = df_aleatorio.reset_index()
print("\nDataFrame con índice reseteado:\n", df_aleatorio_reset)

DataFrame con índice reseteado:
   index         A         B         C
0     X  0.367406  0.055261  0.304115
1     Y  0.047365  0.932662  0.641097
2     Z  0.856042  0.342571  0.611421

In [51]:
#3. Vuelve a establecer la columna de índice como índice principal
df_aleatorio_final = df_aleatorio_reset.set_index('index')
print("\nDataFrame con índice principal restablecido:\n", df_aleatorio_final)

DataFrame con índice principal restablecido:
               A         B         C
index
X      0.367406  0.055261  0.304115
Y      0.047365  0.932662  0.641097
Z      0.856042  0.342571  0.611421

## Ejercicio 6: Filtrado condicional
Dado este DataFrame

In [57]:
datos = {
    'Nombre': ['Ana', 'Juan', 'Sofía', 'Carlos'],
    'Edad': [25, 32, 28, 40],
    'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia']
}
df_personas = pd.DataFrame(datos)

In [58]:
print("\nDataFrame de personas:\n", df_personas)

DataFrame de personas:
    Nombre  Edad     Ciudad
0     Ana    25     Madrid
1    Juan    32  Barcelona
2   Sofía    28     Madrid
3  Carlos    40   Valencia

1. Filtra las personas que viven en 'Madrid'
2. Muestra los nombres de las personas mayores de 30 años
3. Crea un filtro combinado: personas de Madrid mayores de 26 años

In [61]:
#1. Filtra las personas que viven en 'Madrid'
madrid_personas = df_personas[df_personas['Ciudad'] == 'Madrid']
print("\nPersonas que viven en Madrid:\n", madrid_personas)

Personas que viven en Madrid:
   Nombre  Edad  Ciudad
0    Ana    25  Madrid
2  Sofía    28  Madrid

In [68]:
#2. Muestra los nombres de las personas mayores de 30 años
ano_mayores_30 = df_personas[df_personas['Edad'] > 30][['Nombre', 'Edad']]
print("\nNombres de personas mayores de 30 años:\n", ano_mayores_30)

Nombres de personas mayores de 30 años:
    Nombre  Edad
1    Juan    32
3  Carlos    40

In [67]:
#3. Crea un filtro combinado: personas de Madrid mayores de 26 años
filtro_madrid_mayores_26 = df_personas[(df_personas['Ciudad'] == 'Madrid') & (df_personas['Edad'] > 26)]
print("\nPersonas de Madrid mayores de 26 años:\n", filtro_madrid_mayores_26)

Personas de Madrid mayores de 26 años:
   Nombre  Edad  Ciudad
2  Sofía    28  Madrid