# Ejercicios de Pandas - Nivel Inicial

## Ejercicio 1: Creación y manipulación de Series
1. Crea una Serie a partir del diccionario {'Matemáticas': 9, 'Historia': 7.5, 'Física': 8.2}
2. Accede a la nota de 'Historia' usando la notación de corchetes
3. Crea otra Serie con las mismas materias pero diferentes notas y suma ambas Series

## Ejercicio 2: Operaciones básicas con DataFrames
Dado el siguiente DataFrame:

In [ ]:
df = pd.DataFrame({
    'Producto': ['Manzana', 'Pera', 'Plátano'],
    'Precio': [1.2, 1.5, 0.8],
    'Stock': [45, 32, 67]
})


1. Muestra solo la columna 'Precio'
2. Filtra los productos con precio mayor a 1.0
3. Añade una nueva columna 'Valor_total' que sea Precio * Stock

## Ejercicio 3: Selección de datos
Usando el DataFrame del ejercicio 2:
1. Selecciona la fila del 'Plátano' usando loc
2. Selecciona el precio de la 'Pera' usando iloc
3. Muestra solo las columnas 'Producto' y 'Stock' para todos los productos

## Ejercicio 4: Valores faltantes
Dado este DataFrame:

In [ ]:
df = pd.DataFrame({
    'A': [1, np.nan, 3, 4],
    'B': [5, 6, np.nan, 8],
    'C': [9, 10, 11, 12]
})

1. Elimina las filas que contengan algún NaN
2. Rellena los NaN de la columna 'A' con su valor medio
3. Rellena los NaN de la columna 'B' con el valor máximo de esa columna

## Ejercicio 5: Índices
1. Crea un DataFrame con datos aleatorios (3x3) y los índices ['X', 'Y', 'Z']
2. Resetea el índice y muestra el resultado
3. Vuelve a establecer la columna de índice como índice principal

## Ejercicio 6: Filtrado condicional
Dado este DataFrame

In [ ]:
datos = {
    'Nombre': ['Ana', 'Juan', 'Sofía', 'Carlos'],
    'Edad': [25, 32, 28, 40],
    'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia']
}

1. Filtra las personas que viven en 'Madrid'
2. Muestra los nombres de las personas mayores de 30 años
3. Crea un filtro combinado: personas de Madrid mayores de 26 años