In [5]:
import pandas as pd

# Creamos dos datasets en los que se repiten filas o columnas

In [6]:
biblioteca = pd.DataFrame(
    {"DNI": ["12345678L", "45454123I", "85957515J", "77777777K", "58224564J"],
     "Nombre": ["Aitor", "María", "Gregorio", "David", "Vanesa"],
     "Apellidos": ["Donado Urquizu", "Díaz García", "Gómez Gómez", "López Suárez", "Sánchez Pérez"],
     "Teléfono": ["645454545", "612121212", "652525252", "685858585", "677555999"],
     "Género": ["Espionaje", "Romántico", "Bricolaje", "Historia", "Filosofía"],
     "Calle": ["Iturribide", "María Díaz de Haro", "Zabalbide", "Larraskitu", "Blas de Otero"],
     "Zona": ["Santutxu", "Indautxu", "Santutxu", "Recalde", "Deusto"],
     "Inscripción": ["12/12/2024", "10/2/2025", "12/7/1955", "7/5/2023", "19/8/2024"],
     "Nacimiento": ["15/01/1977", "12/05/1994", "3/3/1993", "3/3/2000", "7/12/1995"]}
)

In [7]:
piscinas = pd.DataFrame(
    {"DNI": ["12345678L", "45454123I", "77777777K", "13131313G", "58224564J"],
     "Nombre": ["Aitor", "María", "David", "Evaristo", "Vanesa"],
     "Apellidos": ["Donado Urquizu", "Díaz García", "López Suárez", "González Sanz", "Sánchez Pérez"],
     "email": ["aitor.donado@gmail.com", "maria_dg@hotmail.com", "DDG@garcia.es", "elreydelabaraja@gmail.com", "la_vane95@outlook.es"],
     "Teléfono": ["645454545", "612121212", "685858585", "612345678", "677555999"],
     "Tiempos_largo": [1.0, 0.9, 0.7, 1.2, 1.1],
     "Zona": ["Santutxu", "Indautxu", "Recalde", "Recalde", "Deusto"],
     "Inscripción": ["25/2/2025", "13/2/2024", "15/3/2020", "13/12/2013", "2/6/2022"],
     "Nacimiento": ["15/01/1977", "12/05/1994", "3/3/2000", "15/5/1962", "7/12/1995"]}
)

In [8]:
biblioteca

,DNI,Nombre,Apellidos,Teléfono,Género,Calle,Zona,Inscripción,Nacimiento
0,12345678L,Aitor,Donado Urquizu,645454545,Espionaje,Iturribide,Santutxu,12/12/2024,15/01/1977
1,45454123I,María,Díaz García,612121212,Romántico,María Díaz de Haro,Indautxu,10/2/2025,12/05/1994
2,85957515J,Gregorio,Gómez Gómez,652525252,Bricolaje,Zabalbide,Santutxu,12/7/1955,3/3/1993
3,77777777K,David,López Suárez,685858585,Historia,Larraskitu,Recalde,7/5/2023,3/3/2000
4,58224564J,Vanesa,Sánchez Pérez,677555999,Filosofía,Blas de Otero,Deusto,19/8/2024,7/12/1995

In [9]:
piscinas

,DNI,Nombre,Apellidos,email,Teléfono,Tiempos_largo,Zona,Inscripción,Nacimiento
0,12345678L,Aitor,Donado Urquizu,aitor.donado@gmail.com,645454545,1.0,Santutxu,25/2/2025,15/01/1977
1,45454123I,María,Díaz García,maria_dg@hotmail.com,612121212,0.9,Indautxu,13/2/2024,12/05/1994
2,77777777K,David,López Suárez,DDG@garcia.es,685858585,0.7,Recalde,15/3/2020,3/3/2000
3,13131313G,Evaristo,González Sanz,elreydelabaraja@gmail.com,612345678,1.2,Recalde,13/12/2013,15/5/1962
4,58224564J,Vanesa,Sánchez Pérez,la_vane95@outlook.es,677555999,1.1,Deusto,2/6/2022,7/12/1995

Ahora tenemos dos datasets.
- `biblioteca` tiene los datos de la biblioteca municipal
- `piscinas` tiene los datos de las piscinas municipales
- Tenemos usuarios de la biblioteca que no están apuntados a las piscinas y viceversa
- También tenemos campos como el nombre y los apellidos que están tanto en una tabla como en la otra y otros específicos de cada tabla

Por tanto tenemos filas y columnas tanto comunes como distintas

Vamos a filtrar los datos de una de las tablas usando los índices de la otra

## Seleccionar filas en base a variables

Ya hemos seleccionado filas filtrando en base a variables.

In [10]:
rapidos = piscinas[(piscinas["Tiempos_largo"] <= 1)]

In [11]:
rapidos

,DNI,Nombre,Apellidos,email,Teléfono,Tiempos_largo,Zona,Inscripción,Nacimiento
0,12345678L,Aitor,Donado Urquizu,aitor.donado@gmail.com,645454545,1.0,Santutxu,25/2/2025,15/01/1977
1,45454123I,María,Díaz García,maria_dg@hotmail.com,612121212,0.9,Indautxu,13/2/2024,12/05/1994
2,77777777K,David,López Suárez,DDG@garcia.es,685858585,0.7,Recalde,15/3/2020,3/3/2000

In [12]:
normales = piscinas[piscinas["Tiempos_largo"].between(0.8, 1.1)]

In [13]:
normales

,DNI,Nombre,Apellidos,email,Teléfono,Tiempos_largo,Zona,Inscripción,Nacimiento
0,12345678L,Aitor,Donado Urquizu,aitor.donado@gmail.com,645454545,1.0,Santutxu,25/2/2025,15/01/1977
1,45454123I,María,Díaz García,maria_dg@hotmail.com,612121212,0.9,Indautxu,13/2/2024,12/05/1994
4,58224564J,Vanesa,Sánchez Pérez,la_vane95@outlook.es,677555999,1.1,Deusto,2/6/2022,7/12/1995

In [14]:
santutxu = biblioteca[(biblioteca["Zona"]=="Santutxu")]

In [15]:
santutxu

,DNI,Nombre,Apellidos,Teléfono,Género,Calle,Zona,Inscripción,Nacimiento
0,12345678L,Aitor,Donado Urquizu,645454545,Espionaje,Iturribide,Santutxu,12/12/2024,15/01/1977
2,85957515J,Gregorio,Gómez Gómez,652525252,Bricolaje,Zabalbide,Santutxu,12/7/1955,3/3/1993

# 1. Selección de Columnas en una tabla en función de las presentes en otra

## 1.1. Seleccionamos columnas de la biblioteca **si están** en la piscina

Cuando obtenemos las columnas de un DataFrame vemos que estamos obteniendo un objeto "Index"

In [16]:
biblioteca.columns

Index(['DNI', 'Nombre', 'Apellidos', 'Teléfono', 'Género', 'Calle', 'Zona',
       'Inscripción', 'Nacimiento'],
      dtype='object')

In [17]:
piscinas.columns

Index(['DNI', 'Nombre', 'Apellidos', 'email', 'Teléfono', 'Tiempos_largo',
       'Zona', 'Inscripción', 'Nacimiento'],
      dtype='object')

# Lógica de conjuntos

Sean dos índices distintos

In [18]:
seriea = pd.Series(["a", "b", "c"], index=[1,3,6])

In [19]:
seriea.index

Index([1, 3, 6], dtype='int64')

In [20]:
lista_a = pd.Index([0,1,3,5,7])

In [21]:
lista_a

Index([0, 1, 3, 5, 7], dtype='int64')

In [22]:
lista_b = pd.Index([0,3,6,9])

In [23]:
lista_b

Index([0, 3, 6, 9], dtype='int64')

In [24]:
print(lista_a)
print(lista_b)

Index([0, 1, 3, 5, 7], dtype='int64')
Index([0, 3, 6, 9], dtype='int64')

Todos los elementos estén en la lista que estén

In [25]:
lista_b.union(lista_a)

Index([0, 1, 3, 5, 6, 7, 9], dtype='int64')

In [26]:
lista_a.intersection(lista_b)

Index([0, 3], dtype='int64')

In [27]:
lista_a.difference(lista_b)

Index([1, 5, 7], dtype='int64')

In [28]:
lista_b.difference(lista_a)

Index([6, 9], dtype='int64')

Valores que están en una lista o en la otra pero no en las dos

In [29]:
lista_b.symmetric_difference(lista_a)

Index([1, 5, 6, 7, 9], dtype='int64')

Podemos usar la lógica de conjuntos para filtrar columnas

In [30]:
print(biblioteca.columns)
print(piscinas.columns)

Index(['DNI', 'Nombre', 'Apellidos', 'Teléfono', 'Género', 'Calle', 'Zona',
       'Inscripción', 'Nacimiento'],
      dtype='object')
Index(['DNI', 'Nombre', 'Apellidos', 'email', 'Teléfono', 'Tiempos_largo',
       'Zona', 'Inscripción', 'Nacimiento'],
      dtype='object')

In [31]:
biblioteca.columns.intersection(piscinas.columns)

Index(['DNI', 'Nombre', 'Apellidos', 'Teléfono', 'Zona', 'Inscripción',
       'Nacimiento'],
      dtype='object')

Vemos cómo la columna de "Género" de la biblioteca como los "Tiempos_largo" de las piscinas no están.

In [32]:
campos_comunes = biblioteca[(biblioteca.columns.intersection(piscinas.columns))]

In [33]:
campos_comunes

,DNI,Nombre,Apellidos,Teléfono,Zona,Inscripción,Nacimiento
0,12345678L,Aitor,Donado Urquizu,645454545,Santutxu,12/12/2024,15/01/1977
1,45454123I,María,Díaz García,612121212,Indautxu,10/2/2025,12/05/1994
2,85957515J,Gregorio,Gómez Gómez,652525252,Santutxu,12/7/1955,3/3/1993
3,77777777K,David,López Suárez,685858585,Recalde,7/5/2023,3/3/2000
4,58224564J,Vanesa,Sánchez Pérez,677555999,Deusto,19/8/2024,7/12/1995

## 1.2. Seleccionamos columnas de la biblioteca **si NO están** en la piscina y viceversa

In [35]:
solo_biblio = biblioteca[(biblioteca.columns.difference(piscinas.columns))]

In [36]:
solo_biblio

                Calle     Género
0          Iturribide  Espionaje
1  María Díaz de Haro  Romántico
2           Zabalbide  Bricolaje
3          Larraskitu   Historia
4       Blas de Otero  Filosofía

In [37]:
solo_pisci = piscinas[(piscinas.columns.difference(biblioteca.columns))]

In [38]:
solo_pisci

   Tiempos_largo                      email
0            1.0     aitor.donado@gmail.com
1            0.9       maria_dg@hotmail.com
2            0.7              DDG@garcia.es
3            1.2  elreydelabaraja@gmail.com
4            1.1       la_vane95@outlook.es

# 2. Selección de Filas en una tabla en función de las presentes en otra

## 2.1 Seleccionamos filas en común (índice)

In [39]:
lista_a

Index([0, 1, 3, 5, 7], dtype='int64')

In [40]:
lista_b

Index([0, 3, 6, 9], dtype='int64')

In [41]:
print(lista_a, lista_b)

Index([0, 1, 3, 5, 7], dtype='int64') Index([0, 3, 6, 9], dtype='int64')

validamos cuales son iguales (nombre de columnas)

In [42]:
lista_a.isin(lista_b)

array([ True, False,  True, False, False])

In [43]:
biblioteca.index, piscinas.index

(RangeIndex(start=0, stop=5, step=1), RangeIndex(start=0, stop=5, step=1))

Puedo usar un índice para comprobar si un elemento está en una tabla y no en otra y viceversa, pero no puede ser el índice que se ha generado por defecto.

In [44]:
biblioteca.set_index("DNI", inplace=True)

In [45]:
piscinas.set_index("DNI", inplace=True)

In [46]:
biblioteca.index, piscinas.index

(Index(['12345678L', '45454123I', '85957515J', '77777777K', '58224564J'], dtype='object', name='DNI'),
 Index(['12345678L', '45454123I', '77777777K', '13131313G', '58224564J'], dtype='object', name='DNI'))

In [47]:
# filtro_filas = piscinas.index.isin(biblioteca.index)
filtro_filas = biblioteca.index.isin(piscinas.index)

In [48]:
filtro_filas

array([ True,  True, False,  True,  True])

In [49]:
biblioteca[filtro_filas]

,Nombre,Apellidos,Teléfono,Género,Calle,Zona,Inscripción,Nacimiento
DNI,,,,,,,,
12345678L,Aitor,Donado Urquizu,645454545,Espionaje,Iturribide,Santutxu,12/12/2024,15/01/1977
45454123I,María,Díaz García,612121212,Romántico,María Díaz de Haro,Indautxu,10/2/2025,12/05/1994
77777777K,David,López Suárez,685858585,Historia,Larraskitu,Recalde,7/5/2023,3/3/2000
58224564J,Vanesa,Sánchez Pérez,677555999,Filosofía,Blas de Otero,Deusto,19/8/2024,7/12/1995

Todo en un mismo paso

In [50]:
registros_comunes = biblioteca[biblioteca.index.isin(piscinas.index)]
# registros_comunes = piscinas[piscinas.index.isin(biblioteca.index)]

In [51]:
registros_comunes

,Nombre,Apellidos,Teléfono,Género,Calle,Zona,Inscripción,Nacimiento
DNI,,,,,,,,
12345678L,Aitor,Donado Urquizu,645454545,Espionaje,Iturribide,Santutxu,12/12/2024,15/01/1977
45454123I,María,Díaz García,612121212,Romántico,María Díaz de Haro,Indautxu,10/2/2025,12/05/1994
77777777K,David,López Suárez,685858585,Historia,Larraskitu,Recalde,7/5/2023,3/3/2000
58224564J,Vanesa,Sánchez Pérez,677555999,Filosofía,Blas de Otero,Deusto,19/8/2024,7/12/1995

In [52]:
biblioteca.index.intersection(piscinas.index)

Index(['12345678L', '45454123I', '77777777K', '58224564J'], dtype='object', name='DNI')

In [53]:
biblioteca.loc[biblioteca.index.intersection(piscinas.index)]

,Nombre,Apellidos,Teléfono,Género,Calle,Zona,Inscripción,Nacimiento
DNI,,,,,,,,
12345678L,Aitor,Donado Urquizu,645454545,Espionaje,Iturribide,Santutxu,12/12/2024,15/01/1977
45454123I,María,Díaz García,612121212,Romántico,María Díaz de Haro,Indautxu,10/2/2025,12/05/1994
77777777K,David,López Suárez,685858585,Historia,Larraskitu,Recalde,7/5/2023,3/3/2000
58224564J,Vanesa,Sánchez Pérez,677555999,Filosofía,Blas de Otero,Deusto,19/8/2024,7/12/1995

No puedo usar el DNI directamente entre los corchetes como hicimos con el filtro booleano porque me buscaría los DNIs en los nombres de las columnas

In [ ]:
# biblioteca[biblioteca.index.intersection(piscinas.index)]

## 2.2 Seleccionamos filas diferentes (índice)

### Operando `~` [AlGr+4]

In [54]:
~pd.Index([True, False, True])

Index([False, True, False], dtype='bool')

El usuario que está en la biblioteca pero no en las piscinas

In [55]:
biblioteca[~biblioteca.index.isin(piscinas.index)]

,Nombre,Apellidos,Teléfono,Género,Calle,Zona,Inscripción,Nacimiento
DNI,,,,,,,,
85957515J,Gregorio,Gómez Gómez,652525252,Bricolaje,Zabalbide,Santutxu,12/7/1955,3/3/1993

El usuario que está en las piscinas pero no en la biblioteca

In [56]:
piscinas[~piscinas.index.isin(biblioteca.index)]

,Nombre,Apellidos,email,Teléfono,Tiempos_largo,Zona,Inscripción,Nacimiento
DNI,,,,,,,,
13131313G,Evaristo,González Sanz,elreydelabaraja@gmail.com,612345678,1.2,Recalde,13/12/2013,15/5/1962

De otra manera...

In [58]:
piscinas.index.difference(biblioteca.index)

Index(['13131313G'], dtype='object', name='DNI')

In [59]:
piscinas.loc[piscinas.index.difference(biblioteca.index)]

,Nombre,Apellidos,email,Teléfono,Tiempos_largo,Zona,Inscripción,Nacimiento
DNI,,,,,,,,
13131313G,Evaristo,González Sanz,elreydelabaraja@gmail.com,612345678,1.2,Recalde,13/12/2013,15/5/1962

... y la tercera manera

In [60]:
pd.Index([True, False, True]) == False

array([False,  True, False])

In [61]:
piscinas[piscinas.index.isin(biblioteca.index) == False]

,Nombre,Apellidos,email,Teléfono,Tiempos_largo,Zona,Inscripción,Nacimiento
DNI,,,,,,,,
13131313G,Evaristo,González Sanz,elreydelabaraja@gmail.com,612345678,1.2,Recalde,13/12/2013,15/5/1962

## 2.3 Seleccionar filas en base a dos tablas teniendo en cuenta una variable

Puedo seleccionar filas sin tener que poner una columna como índice. Usando el valor que se guarde en una o varias columnas

In [62]:
biblioteca["Nombre"].unique()

array(['Aitor', 'María', 'Gregorio', 'David', 'Vanesa'], dtype=object)

Vamos a crear un DataFrame que tiene todas las categorías de "LotShape" excepto "Reg"

In [63]:
seleccionados = pd.DataFrame(['Aitor', 'Gregorio', 'Vanesa'], columns= ["Nombre"])

In [64]:
seleccionados

     Nombre
0     Aitor
1  Gregorio
2    Vanesa

In [ ]:
#                            df
biblioteca["Nombre"].isin(seleccionados["Nombre"])

DNI
12345678L     True
45454123I    False
85957515J     True
77777777K    False
58224564J     True
Name: Nombre, dtype: bool

... y cuáles NO

In [66]:
~biblioteca["Nombre"].isin(seleccionados["Nombre"])

DNI
12345678L    False
45454123I     True
85957515J    False
77777777K     True
58224564J    False
Name: Nombre, dtype: bool

Usando varias columnas. Veo la coincidencia individual

In [68]:
biblioteca[["Nombre", "Apellidos"]]

             Nombre       Apellidos
DNI
12345678L     Aitor  Donado Urquizu
45454123I     María     Díaz García
85957515J  Gregorio     Gómez Gómez
77777777K     David    López Suárez
58224564J    Vanesa   Sánchez Pérez

In [69]:
piscinas[["Nombre", "Apellidos"]]

             Nombre       Apellidos
DNI
12345678L     Aitor  Donado Urquizu
45454123I     María     Díaz García
77777777K     David    López Suárez
13131313G  Evaristo   González Sanz
58224564J    Vanesa   Sánchez Pérez

In [67]:
~biblioteca[["Nombre", "Apellidos"]].isin(piscinas[["Nombre", "Apellidos"]])

           Nombre  Apellidos
DNI
12345678L   False      False
45454123I   False      False
85957515J    True       True
77777777K   False      False
58224564J   False      False

In [70]:
~piscinas[["Nombre", "Apellidos"]].isin(biblioteca[["Nombre", "Apellidos"]])

           Nombre  Apellidos
DNI
12345678L   False      False
45454123I   False      False
77777777K   False      False
13131313G    True       True
58224564J   False      False