# Ejercicios filtrados

In [17]:
import pandas as pd

In [18]:
import os
os.chdir(r"C:\americo\ia_dema\06_Filtrados")

# Cargar los DataFrames catas_vino1 y catas_vino2

In [46]:

catas_vino1 = pd.read_csv("catas_vino1.csv", sep=";", encoding="latin-1")

In [47]:
catas_vino1

,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,taste
0,0.40,6.1,0.034,36.0,118.0,0.99144,3.21,0.43,12.1,7,3167
1,0.51,2.0,0.046,11.0,207.0,0.99300,3.02,0.55,11.4,5,324
2,0.38,10.5,0.031,53.0,140.0,0.99321,3.34,0.46,11.7,6,4731
3,0.30,5.0,0.040,40.0,143.0,0.99173,3.33,0.42,12.2,7,2305
4,0.26,1.4,0.041,40.0,141.0,0.99410,3.34,0.72,9.5,6,1777
...,...,...,...,...,...,...,...,...,...,...,...
3276,0.52,6.5,0.047,28.0,123.0,0.99418,3.22,0.49,9.9,6,4426
3277,0.32,9.0,0.039,54.0,141.0,0.99560,3.22,0.43,9.4,6,466
3278,0.52,3.2,0.043,28.0,152.0,0.99129,3.02,0.53,11.4,6,3092
3279,0.29,13.7,0.035,53.0,134.0,0.99567,3.17,0.38,10.6,6,3772
3280,0.35,1.7,0.030,38.0,103.0,0.99255,3.22,0.63,10.4,8,860

In [48]:
catas_vino2 = pd.read_csv("catas_vino2.csv", sep=";", encoding="latin-1")

In [49]:
catas_vino2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,alcohol,quality,taste
0,7.5,0.29,0.36,15.7,0.050,29.0,124.0,10.400000,5,3320
1,6.9,0.42,0.20,15.4,0.043,57.0,201.0,9.400000,5,4271
2,7.6,0.28,0.39,1.9,0.052,23.0,116.0,10.400000,6,1370
3,6.9,0.22,0.37,15.0,0.053,59.0,178.0,9.500000,7,782
4,7.1,0.23,0.39,1.6,0.032,12.0,65.0,12.700000,7,491
...,...,...,...,...,...,...,...,...,...,...
3276,6.8,0.25,0.38,8.1,0.046,24.0,155.0,10.200000,6,826
3277,6.1,0.22,0.46,1.8,0.160,34.0,74.0,13.400000,6,3735
3278,6.8,0.26,0.46,8.3,0.037,49.0,173.0,9.300000,5,2942
3279,6.6,0.22,0.28,4.9,0.042,51.0,180.0,9.500000,6,2064
3280,6.0,0.27,0.40,1.7,0.021,18.0,82.0,13.133333,6,4818

## Colocar la columna taste como índice de ambas tablas

In [84]:
df_catas_vino1 = catas_vino1.set_index('taste').sort_index()

In [88]:
df_catas_vino1.head(10)

,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
taste,,,,,,,,,,
0,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,0.34,1.60,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,0.16,7.00,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
9,0.43,1.50,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6
10,0.41,1.45,0.033,11.0,63.0,0.9908,2.99,0.56,12.0,5

In [86]:
df_catas_vino2 = catas_vino2.set_index('taste').sort_index()

In [89]:
df_catas_vino2.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,alcohol,quality
taste,,,,,,,,,
1,6.3,0.30,0.34,1.60,0.049,14.0,132.0,9.5,6
2,8.1,0.28,0.40,6.90,0.050,30.0,97.0,10.1,6
5,8.1,0.28,0.40,6.90,0.050,30.0,97.0,10.1,6
6,6.2,0.32,0.16,7.00,0.045,30.0,136.0,9.6,6
9,8.1,0.22,0.43,1.50,0.044,28.0,129.0,11.0,6
11,8.6,0.23,0.40,4.20,0.035,17.0,109.0,9.7,5
12,7.9,0.18,0.37,1.20,0.040,16.0,75.0,10.8,5
13,6.6,0.16,0.40,1.50,0.044,48.0,143.0,12.4,7
14,8.3,0.42,0.62,19.25,0.040,41.0,172.0,9.7,5
16,6.3,0.48,0.04,1.10,0.046,30.0,99.0,9.6,6

In [31]:
print(df_catas_vino1.columns)
print(df_catas_vino2.columns)

Index(['citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'],
      dtype='object')
Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'alcohol',
       'quality'],
      dtype='object')

## Determinar qué columnas están presentes en catas1 y no en catas2 y viceversa.

In [41]:
#df_catas_vino1.symmetric_difference(df_catas_vino2)
solo_en_catas_vino1 = catas_vino1.columns.difference(catas_vino2.columns)
solo_en_catas_vino2 = catas_vino2.columns.difference(catas_vino1.columns)

In [42]:
print('columnas solo en catas_vino1: ',solo_en_catas_vino1)
print('columnas solo en catas_vino2: ', solo_en_catas_vino2)

columnas solo en catas_vino1:  Index(['density', 'pH', 'sulphates'], dtype='object')
columnas solo en catas_vino2:  Index(['fixed acidity', 'volatile acidity'], dtype='object')

In [43]:
catas_vino1.columns.symmetric_difference(catas_vino2.columns)

Index(['density', 'fixed acidity', 'pH', 'sulphates', 'volatile acidity'], dtype='object')

## Determinar qué columnas están presentes en ambas tablas.

In [44]:
catas_vino1.columns.intersection(catas_vino2.columns)

Index(['citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'alcohol', 'quality', 'taste'],
      dtype='object')

In [90]:
catas_vino1[catas_vino1.columns.intersection(catas_vino2.columns)]

,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,alcohol,quality,taste
0,0.40,6.1,0.034,36.0,118.0,12.1,7,3167
1,0.51,2.0,0.046,11.0,207.0,11.4,5,324
2,0.38,10.5,0.031,53.0,140.0,11.7,6,4731
3,0.30,5.0,0.040,40.0,143.0,12.2,7,2305
4,0.26,1.4,0.041,40.0,141.0,9.5,6,1777
...,...,...,...,...,...,...,...,...
3276,0.52,6.5,0.047,28.0,123.0,9.9,6,4426
3277,0.32,9.0,0.039,54.0,141.0,9.4,6,466
3278,0.52,3.2,0.043,28.0,152.0,11.4,6,3092
3279,0.29,13.7,0.035,53.0,134.0,10.6,6,3772
3280,0.35,1.7,0.030,38.0,103.0,10.4,8,860

In [91]:
catas_vino2[catas_vino2.columns.intersection(catas_vino1.columns)]

,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,alcohol,quality,taste
0,0.36,15.7,0.050,29.0,124.0,10.400000,5,3320
1,0.20,15.4,0.043,57.0,201.0,9.400000,5,4271
2,0.39,1.9,0.052,23.0,116.0,10.400000,6,1370
3,0.37,15.0,0.053,59.0,178.0,9.500000,7,782
4,0.39,1.6,0.032,12.0,65.0,12.700000,7,491
...,...,...,...,...,...,...,...,...
3276,0.38,8.1,0.046,24.0,155.0,10.200000,6,826
3277,0.46,1.8,0.160,34.0,74.0,13.400000,6,3735
3278,0.46,8.3,0.037,49.0,173.0,9.300000,5,2942
3279,0.28,4.9,0.042,51.0,180.0,9.500000,6,2064
3280,0.40,1.7,0.021,18.0,82.0,13.133333,6,4818

## Determinar qué filas están presentes en catas1 y no en catas2 y viceversa.

In [64]:
df1_unicos = df_catas_vino1.index.difference(df_catas_vino2.index)

In [65]:
df2_unicos = df_catas_vino2.index.difference(df_catas_vino1.index)

In [66]:
print("En catas_vino1 pero no en catas_vino2:\n", df1_unicos)

En catas_vino1 pero no en catas_vino2:
 Index([   0,    3,    4,    7,   10,   15,   24,   27,   38,   40,
       ...
       4851, 4855, 4860, 4861, 4864, 4868, 4871, 4878, 4885, 4895],
      dtype='int64', name='taste', length=1065)

In [67]:
print("En catas_vino2 pero no en catas_vino1:\n", df2_unicos)

En catas_vino2 pero no en catas_vino1:
 Index([  12,   14,   17,   19,   23,   31,   32,   43,   44,   45,
       ...
       4856, 4857, 4866, 4873, 4875, 4879, 4893, 4894, 4896, 4897],
      dtype='int64', name='taste', length=1065)

In [97]:
df_catas_vino1.loc[df_catas_vino1.index.difference(df_catas_vino2.index)]

,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
taste,,,,,,,,,,
0,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.80,6
3,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.90,6
4,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.90,6
7,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.80,6
10,0.41,1.45,0.033,11.0,63.0,0.99080,2.99,0.56,12.00,5
...,...,...,...,...,...,...,...,...,...,...
4868,0.31,4.50,0.046,42.0,124.0,0.99324,3.31,0.64,10.80,6
4871,0.40,1.90,0.015,20.0,98.0,0.98970,3.37,0.55,12.05,6
4878,0.02,0.90,0.035,6.0,81.0,0.99234,3.24,0.35,9.50,4
4885,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.55,6
4895,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.40,6

In [96]:
df_catas_vino2.loc[df_catas_vino2.index.difference(df_catas_vino1.index)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,alcohol,quality
taste,,,,,,,,,
12,7.9,0.18,0.37,1.20,0.040,16.0,75.0,10.800000,5
14,8.3,0.42,0.62,19.25,0.040,41.0,172.0,9.700000,5
17,6.2,0.66,0.48,1.20,0.029,29.0,75.0,12.800000,8
19,6.5,0.31,0.14,7.50,0.044,34.0,133.0,9.500000,5
23,7.6,0.67,0.14,1.50,0.074,25.0,168.0,9.300000,5
...,...,...,...,...,...,...,...,...,...
4879,6.6,0.34,0.40,8.10,0.046,68.0,170.0,9.533333,6
4893,6.2,0.21,0.29,1.60,0.039,24.0,92.0,11.200000,6
4894,6.6,0.32,0.36,8.00,0.047,57.0,168.0,9.600000,5
4896,5.5,0.29,0.30,1.10,0.022,20.0,110.0,12.800000,7
4897,6.0,0.21,0.38,0.80,0.020,22.0,98.0,11.800000,6

## Determinar qué filas están presentes en ambas tablas.

In [76]:
df_catas_vino1.index

Index([3167,  324, 4731, 2305, 1777, 3185, 2929, 1498, 1502, 1006,
       ...
       1685,  130, 2919, 3171, 3444, 4426,  466, 3092, 3772,  860],
      dtype='int64', name='taste', length=3281)

In [77]:
df_catas_vino2.index

Index([3320, 4271, 1370,  782,  491, 1380, 1219, 4415, 2898,  602,
       ...
       2862, 3962,  604, 4829,   28,  826, 3735, 2942, 2064, 4818],
      dtype='int64', name='taste', length=3281)

In [79]:
# 1. Obtén el índice común (los valores de ‘taste’ que están en ambos)
common_idx = df_catas_vino1.index.intersection(df_catas_vino2.index)

In [81]:
common_idx

Index([3167,  324, 4731, 2305, 1777, 3185, 2929, 4112, 3418, 1467,
       ...
       1685,  130, 2919, 3171, 3444, 4426,  466, 3092, 3772,  860],
      dtype='int64', name='taste', length=2216)

In [92]:
# 2. Extrae esas filas de cada DataFrame
common_df1 = df_catas_vino1.loc[common_idx]

common_df1

,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
taste,,,,,,,,,,
3167,0.40,6.1,0.034,36.0,118.0,0.99144,3.21,0.43,12.1,7
324,0.51,2.0,0.046,11.0,207.0,0.99300,3.02,0.55,11.4,5
4731,0.38,10.5,0.031,53.0,140.0,0.99321,3.34,0.46,11.7,6
2305,0.30,5.0,0.040,40.0,143.0,0.99173,3.33,0.42,12.2,7
1777,0.26,1.4,0.041,40.0,141.0,0.99410,3.34,0.72,9.5,6
...,...,...,...,...,...,...,...,...,...,...
4426,0.52,6.5,0.047,28.0,123.0,0.99418,3.22,0.49,9.9,6
466,0.32,9.0,0.039,54.0,141.0,0.99560,3.22,0.43,9.4,6
3092,0.52,3.2,0.043,28.0,152.0,0.99129,3.02,0.53,11.4,6
3772,0.29,13.7,0.035,53.0,134.0,0.99567,3.17,0.38,10.6,6
860,0.35,1.7,0.030,38.0,103.0,0.99255,3.22,0.63,10.4,8

In [93]:
common_df2 = df_catas_vino2.loc[common_idx]

common_df2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,alcohol,quality
taste,,,,,,,,,
3167,5.6,0.28,0.40,6.1,0.034,36.0,118.0,12.1,7
324,8.3,0.41,0.51,2.0,0.046,11.0,207.0,11.4,5
4731,5.3,0.31,0.38,10.5,0.031,53.0,140.0,11.7,6
2305,7.0,0.36,0.30,5.0,0.040,40.0,143.0,12.2,7
1777,6.5,0.18,0.26,1.4,0.041,40.0,141.0,9.5,6
...,...,...,...,...,...,...,...,...,...
4426,6.2,0.21,0.52,6.5,0.047,28.0,123.0,9.9,6
466,7.0,0.14,0.32,9.0,0.039,54.0,141.0,9.4,6
3092,7.6,0.27,0.52,3.2,0.043,28.0,152.0,11.4,6
3772,6.3,0.24,0.29,13.7,0.035,53.0,134.0,10.6,6
860,8.1,0.27,0.35,1.7,0.030,38.0,103.0,10.4,8

## Filtrar las filas de catas1 para las que tenemos datos en catas2

## Comprobar si la calidad de las catas que están presentes en catas2 pero 

## no en catas1 es mayor o menor que la calidad de las de catas1